# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
name: Build and deploy ASP.Net Core app to Azure Web App - A3-Hivefall-Api

on:
  push:
    branches:
      - Assigment3
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Restore
        run: dotnet restore Hivefall-Api/Hivefall-Api.csproj

      - name: Build
        run: dotnet build Hivefall-Api/Hivefall-Api.csproj -c Release --no-restore

      - name: Test
        run: dotnet test Hivefall-Api.Tests/Hivefall-Api.Tests.csproj -c Release --no-build

      - name: Publish
        run: dotnet publish Hivefall-Api/Hivefall-Api.csproj -c Release -o ./publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: api-publish
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: api-publish
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_55C8DCE15A3B44BCA8AB2BE187A6B8CC }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_04D80CD68AD143F295FE43DEA1F3EB64 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_5BA6E0C60099489E8EDA08C7FBECAC2B }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'A3-Hivefall-Api'
          slot-name: 'Production'
          package: .
